@import "./variables";

/* Animation : Affichage des Cartes */

@mixin carte-animation {
  .carte-entree-1__details-1 {
    animation: anim-carte 1000ms 200ms ease-in-out backwards;
  }

  .carte-entree-1__details-2 {
    animation: anim-carte 1000ms 400ms ease-in-out backwards;
  }

  .carte-entree-1__details-3 {
    animation: anim-carte 1000ms 600ms ease-in-out backwards;
  }

  .carte-entree-1__details-4 {
    animation: anim-carte 1000ms 800ms ease-in-out backwards;
  }

  .carte-plat-2__details-1 {
    animation: anim-carte 1000ms 1000ms ease-in-out backwards;
  }

  .carte-plat-2__details-2 {
    animation: anim-carte 1000ms 1200ms ease-in-out backwards;
  }

  .carte-plat-2__details-3 {
    animation: anim-carte 1000ms 1400ms ease-in-out backwards;
  }

  .carte-dessert-3__details-1 {
    animation: anim-carte 1000ms 1800ms ease-in-out backwards;
  }

  .carte-dessert-3__details-2 {
    animation: anim-carte 1000ms 2000ms ease-in-out backwards;
  }

  .carte-dessert-3__details-3 {
    animation: anim-carte 1000ms 2200ms ease-in-out backwards;
  }

  @keyframes anim-carte {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
}

/* Animation Coeur */

@mixin coeur-accueil {
  .coeur__bg {
    @include gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    //transition: opacity 2s linear forwards;
    opacity: 0;

    //&:hover {
    //opacity: 1;
    //}
  }

  .icone-favoris:hover .coeur__sansbg {
    opacity: 0;
    color: $couleur-primaire;
  }

  .icone-favoris {
    position: relative;
    width: 23px;
    height: 23px;
  }

  .coeur__bg {
    position: absolute;
    text-align: center;
  }

  .coeur__sansbg {
    position: absolute;
    text-align: center;
  }
}

@mixin animation-coeur {
  .coeur__bg {
    &:hover {
      animation: anim-coeur1 800ms forwards;
    }
  }

  @keyframes anim-coeur1 {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .coeur__sansbg {
    &:hover {
      animation: anim-coeur2 800ms forwards;
    }
  }

  @keyframes anim-coeur2 {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }
}
