@import "./variables";
@import "./animations";

/*.image-fond {
  position: absolute;
  z-index: 0;
}*/

header {
  @include header-restaurants;
}

.fa-arrow-left {
  @include fleche-gauche;
}

.image-fond {
  width: 100%;
  height: 250px;
  object-fit: cover;
  position: relative;
  z-index: 0;
}

.restaurant {
  &__menu {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    top: -40px;
    bottom: 60px;
    background-color: $bg-gris-clair;
    //padding-top: 25px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    height: auto;
    padding: 0;
    margin: 0;
  }
  &__titre {
    margin-top: 0;
    margin-left: 20px;
    margin-right: 38px;

    @include anim-coeur;

    h1 {
      font-size: 1.7em;
      margin-top: 35px;
      margin-bottom: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__entrees--titre {
    @include margin-carte;
    @include titre-section;
  }

  &__plat--titre {
    @include margin-carte;
    @include titre-section;
  }

  &__dessert--titre {
    @include margin-carte;
    @include titre-section;
  }
}

.titre-decoration {
  border-bottom: 3px solid $couleur-tertiaire;
  //display: block;
  padding-top: 8px;
  width: 40px;
}

.carte {
  @include carte-contour;
  display: flex;

  h4 {
    margin: 0;
    padding-top: 15px;
    font-weight: 500;
  }

  /*&:hover,
  .choix-menu {
    background-color: $couleur-tertiaire;
    transform: scale(1);
    transform-origin: 50% 0%;
    transition: 800ms;
    width: 60px;
  }*/

  /*.choix-menu {
    background-color: #99e2d0;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    text-align: center;
    padding-top: 25px;
    color: white;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 0;
    transition: 500ms;
  }

  .icone-check {
    transform: rotate(-360deg);
    opacity: 0;
    font-size: 20px;
    transition: 700ms;
    position: absolute;
    bottom: 25px;

    &:hover {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }*/
}

.bouton-commander {
  margin-top: 45px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
}

.commander {
  font-size: 1em;
  width: 186px;
  height: 50px;
  @include bouton;
  border: none;
  cursor: pointer;
}
