@import "./variables";
@import "./animations";
@import "./footer";

header {
  @include header-restaurants;
}

.fa-arrow-left {
  @include fleche-gauche;
}

.image-fond {
  width: 100%;
  height: 250px;
  object-fit: cover;
  position: relative;
  z-index: 0;
}

.restaurant {
  &__menu {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    top: -40px;
    bottom: 60px;
    background-color: $bg-gris-clair;
    //padding-top: 25px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    height: auto;
    padding: 0;
    margin: 0;
  }
  &__titre {
    margin-top: 0;
    margin-left: 20px;
    margin-right: 38px;

    @include coeur;

    h1 {
      font-size: 1.7em;
      margin-top: 35px;
      margin-bottom: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__entrees--titre {
    @include margin-carte;
    @include titre-section;
  }

  &__plat--titre {
    @include margin-carte;
    @include titre-section;
  }

  &__dessert--titre {
    @include margin-carte;
    @include titre-section;
  }
}

.titre-decoration {
  border-bottom: 3px solid $couleur-tertiaire;
  //display: block;
  padding-top: 8px;
  width: 40px;
}

.carte {
  @include carte-contour;

  h4 {
    margin: 0;
    padding-top: 15px;
    font-weight: 500;
  }

  p {
    margin: 0;
    padding-top: 6px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    font-size: 15px;
  }

  p :not(.prix) {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 250px;
  }

  .prix {
    font-weight: 500;
  }
}

.bouton-commander {
  margin-top: 45px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
}

.commander {
  font-size: 1em;
  width: 186px;
  height: 50px;
  @include bouton;
  border: none;
  cursor: pointer;
}

@include carte-animation;
