$couleur-primaire: #9356dc;
$couleur-secondaire: #ff79da;
$couleur-tertiaire: #99e2d0;

$footer-bg: #353535;

$bg-gris-clair: #f6f6f6;

$pastille: #008766;

$titre-logo: "Shrikhand", cursive;
$paragraphe: "Roboto", sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");

body {
  font-family: $paragraphe;
}

h1 {
  font-family: $titre-logo;
}

a {
  color: inherit;
  text-decoration: none;
}

@mixin padding-footer {
  padding-left: 24px;
  padding-top: 25px;
  padding-bottom: 36px;
}

@mixin flexcenter-0($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ol {
  margin: 0;
  padding: 0;
}

@mixin mobile {
  @media screen and (max-width: 500px) {
    .header-accueil {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      padding-bottom: 17px;
      border-bottom: 2px solid #cfcfcf;

      & > a > .fa-arrow-left {
        display: none;
      }
    }
  }
}

@mixin header-restaurants {
  .header-accueil {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 17px;
    border-bottom: 2px solid #cfcfcf;
  }
  .fa-arrow-left {
    align-items: center;
    justify-content: flex-start;
  }
}

@mixin flexcenter($direction, $wrap) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: $direction $wrap;
}

@mixin gradient {
  background: rgb(255, 121, 218);
  background: linear-gradient(
    176deg,
    rgba(255, 121, 218, 1) 0%,
    rgba(147, 86, 220, 1) 100%
  );
}

@mixin fonctionnement-liste {
  list-style-type: none;
  padding: 30px 0 30px 32px;
  background-color: white;
  margin-bottom: 24px;
  border-radius: 20px;
  margin-left: 14px;
}

@mixin icone {
  color: #7e7e7e;
  padding-right: 25px;
  font-size: 1em;
}

@mixin shadow {
  box-shadow: 0px 8px 20px 3px rgba(0, 0, 0, 0.1);
}

@mixin bouton {
  color: white;
  font-weight: 500;
  padding: 1.02em 1.5em;
  border-radius: 80px;
  @include gradient;
  @include shadow;
}

@mixin fleche-gauche {
  position: absolute;
  font-size: 20px;
  top: 30px;
  left: 11px;
  margin-left: 20px;
  margin-right: 63px;
}

@mixin coeur-hover {
  .coeur-bg {
    display: initial;
  }
  .coeur-contour {
    display: none;
  }
}

@mixin margin-carte {
  margin-top: 45px;
  margin-left: 20px;
}

@mixin titre-section {
  h4 {
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@mixin deco-carte {
  padding-top: 5px;
  padding-right: 40px;
  margin-right: 316px;
  border-bottom: 3px solid $couleur-tertiaire;
}

@mixin carte-contour {
  background-color: white;
  border-radius: 15px;
  @include shadow;
  padding-left: 10px;
  padding-right: 23px;
  margin-top: 15px;
  margin-left: 14px;
  margin-right: 14px;
}

@mixin desktop {
  @media screen and (min-width: 769px) and (max-width: 1440px) {
    .fonctionnement {
      margin: 0;

      &__contenu {
        display: flex;
        margin-right: 0;
      }

      li {
        margin-right: 0;
      }

      &__liste {
        width: 375px;
      }
    }

    .restaurants {
      &__cartes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }

    .carte-restaurants {
      &__contenu {
        width: 450px;
      }

      &__image {
        width: 100%;
      }
    }
  }
}
